@page "/admin"
@attribute [Authorize]
@inject NavigationManager NavigationManager
@layout AdminLayout

<MudGrid>
    <MudItem>
        <MudImage Src="https://localhost:44362/BluMojis/withGlassesCool.png" Height="256" Width="256" />
    </MudItem>
    <MudItem>
        <MudText Typo="Typo.h1" Color="Color.Warning" Style="font-weight:bold;">Hobby Haven</MudText>
        <MudText Typo="Typo.h2">Admin panel</MudText>
        <MudText Typo="Typo.h6">
            <a href="/admin/users/all"> • Users </a>
            <a href="/admin/personality-tags/all"> • Personality tags </a>
            <a href="/admin/hobbies/all"> • Hobbies </a>
            <a href="/admin/havens/all"> • Havens </a>
        </MudText>
    </MudItem>
</MudGrid>

@code {

}